body {
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body fills at least the viewport height */
  }

.container {
display: grid;
margin-top: 60px;
width: 100%;
max-height: 100%;

grid-template-columns: repeat(7, 1fr);
}
/* body {
    overflow: hidden;
  } */
.thumb-wrapper {
position: relative; 
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
display: block;

width:calc(100vw / 7.5);
height: calc(100vh / 4.5);
}

.thumb-wrapper div {
width: 200px;
height: 200px;

width:calc(100vw / 7.5);
height: calc(100vh /4.5);
}

.full-image {
width: 100%;
height: auto;
max-width: 100%; /* Ensure images don't exceed the container width */
display: block;
}

#ani-image {
    position: absolute; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    /* top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  */
    object-fit: fit;
    opacity: 1;
    z-index: 1;
    width: 100px;
    height: 100px;
    transition: left 2s ease, top 2s ease, width 2s ease, height 2s ease;
}

@media (max-width: 1299px) {
    /* For medium-sized screens, use a 4x3 grid */
    .container {
    grid-template-columns: repeat(4, 1fr);
    }
    .thumb-wrapper {
    width:calc(100vw / 4.5);
    height: calc(100vh / 8);
    }
    .thumb-wrapper div {
        width:calc(100vw / 4.5);
        height: calc(100vh / 8);
        }
    }
